Memberships
* User should see link for Basic plan on Home page
* User should see link for Pro plan on Home page
* Basic plan link should point for regular Devise sign-up form
* Pro plan link should point to a custom sign-up form to collect payment

Stripe integration
* Users table should have a stripe customer token field.
* Pro form should be prevented from submitting until a card token is received from Stripe.
* Card token must be submitted when user information is submitted to be validated.
* User email, card token, and plan ID must then be submitted to Stripe to charge.
* Rais should save customer token and user information to the database.